.elm {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(27, 31, 35, .15);
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-between;
}

.titlElm {
    display: flex;
    justify-content: space-between;
    background-color: rgba(7, 93, 164, 0.588);
    color: #fff;
    text-align: center;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    padding: 10px;
}

.bodyElm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.adder{
    display: flex;
}

.input{
    flex: 1;
    flex-basis: 100%;
    min-width: 0;
}

.list{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footElm{
    background-color: rgba(7, 93, 164, 0.189);
    font-weight: bold;
}

.elm:hover .titl {
    background-color: rgba(7, 93, 164, 0.7);
}

.elm:hover {
    box-shadow: rgba(27, 31, 35, .1) 0px 1px 10px;
}

.editNameElm{
    width: 100%;
    border: none;
    background: none;
    color: white;
}
.editNameElm:focus{
    outline: none;
}
.listElmEven,.listElmOdd{
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.listElmEven{
    background-color: azure;
}
.listElmOdd{
    background-color: aliceblue;
}
.listElmEven:hover, .listElmOdd:hover{
   border-color: rgba(9, 109, 185, 0.592);
}